* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: #EFEFEF;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #43281C;
  grid-area: header-area;
}

.header-image {
  height: 24px;
}

.header-title {
  color: #F3EABA;
  height: 70px;
  font-size: 24px;
  margin: 0;
  padding-top: 18px;
  padding-left: 5px;
}

.items {
  grid-area: items-area;
  background: #EEE1D5;
  border-radius: 10px;
  margin-left: 25px;
  padding: 20px;
  box-shadow: 1px 2px 5px 0 rgba(0,0,0,.1);
}

.item {
  display: flex;
}

.item-unit {
  flex-grow: 1;
}

.item-products {
  flex-grow: 6;
}

.item-products p {
  margin: 0 0 10px 0;
  font-size: 14px;
  color: #B18C6C;
}

.item-products .product {
  font-weight: bold;
  color: black;
  font-size: 16px;
}

.item-value {
  flex-grow: 3;
  text-align: end;
  padding-right: 10px;
  font-weight: bold;
}

hr {
  border: 1px solid #DDB892;
}

.name {
  grid-area: name-area;
  background: #EEE1D5;
  border-radius: 10px;
  margin-right: 25px;
  padding: 20px;
  box-shadow: 1px 2px 5px 0 rgba(0,0,0,.1);
}

.payment {
  grid-area: payment-area;
  background: #EEE1D5;
  border-radius: 10px;
  margin-right: 25px;
  padding: 20px;
  box-shadow: 1px 2px 5px 0 rgba(0,0,0,.1);
}

.payment .ccv-number {
  max-width: 150px;
}

.subtitle {
  font-weight: normal;
  font-size: 16px;
  text-transform: uppercase;
  color: #885A2D;
}

.name-order,
.card-number,
.ccv-number {
  position: relative;
  margin-bottom: 20px;
}

.input-text {
  border-color: #885A2D;
  background: #EEE1D5;
  padding: 8px;
  border-radius: 20px;
  width: 100%;
}

.input-label {
  background: #EEE1D5;
  color: #885A2D;
  font-size: 10px;
  position: absolute;
  left: 25px;
  top: -7px;
  padding: 0 2px;
}

.subtotal {
  grid-area: subtotal-area;
  display: flex;
  justify-content: space-evenly;
  margin: 40px;
}

.subtotal .left-side {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.subtotal .left-side span:last-child {
  font-weight: bold;
}

.subtotal .right-side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 20px;
}

.subtotal .right-side span:last-child {
  font-weight: bold;
}

.order-button {
  grid-area: order-button-area;
  margin: 0 25px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background: #DEB993;
  font-size: 16px;
}

.page {
  display: grid;
  grid-template-areas:
    "header-area header-area"
    "items-area name-area"
    "items-area name-area"
    "items-area payment-area"
    "items-area payment-area"
    "items-area payment-area"
    "subtotal-area subtotal-area"
    "order-button-area order-button-area";
  row-gap: 25px;
  column-gap: 30px;
}
