/* Grid */

/* .my-page-header {
  grid-area: nav-header;
  background: red;
  padding: 10px;
}

.my-page-body {
  grid-area: main-body;
  background: blue;
  padding: 10px;
}

.my-page-sidebar {
  grid-area: nav-sidebar;
  background: green;
  padding: 10px;
}

.my-page-footer {
  grid-area: footer;
  background: yellow;
  padding: 10px;
}

.my-page {
  display: grid;
  grid-template-areas:
    "nav-header nav-header  nav-header  nav-sidebar"
    "main-body  main-body   .           nav-sidebar"
    "footer     footer      footer      footer"
} */

/* Animations */

/* .guitar {
  display: inline-block;
  font-size: 30px;
  position: absolute;
  right: 0;
  animation: move 1s infinite alternate;
}

.guitars-list {
  width: 100%;
  max-width: 300px;
  position: relative;
}

.guitars-list li {
  padding: 20px;
}

.linear {
  animation-timing-function: linear;
}

.ease {
  animation-timing-function: ease;
}

.ease-in-out {
  animation-timing-function: ease-in-out;
}

.ease-out {
  animation-timing-function: ease-out;
}

.ease-in {
  animation-timing-function: ease-in;
}

.cubic-bezier {
  animation-timing-function: cubic-bezier(0,1,.5,1);
}

.rainbow-boi {
  font-size: 30px;
  animation: rainbow 4s infinite linear;
}

@keyframes move {
  to { translate: 100px }
}

@keyframes rainbow {
  0%, 100% { color: rgb(255,0,0) }
  8% { color: rgb(255,127,0) }
  16% { color: rgb(255,255,0) }
  25% { color: rgb(127,255,0) }
  33% { color: rgb(0,255,0) }
  41% { color: rgb(0,255,127) }
  50% { color: rgb(0,255,255) }
  58% { color: rgb(0,127,255) }
  66% { color: rgb(0,0,255) }
  75% { color: rgb(127,0,255) }
  83% { color: rgb(255,0,255) }
  91% { color: rgb(255,0,127) }
} */

/* Overlayed input */

.example-group {
  position: relative;
  display: inline-block;
}

.example-input {
  border-color: crimson;
  padding: 8px;
  border-radius: 5px;
}

.input-label {
  background: white;
  color: crimson;
  font-size: 11px;
  position: absolute;
  left: 25px;
  top: -5px;
  padding: 0 2px;
}
